body {
  width: 100vw;
  height: 100vh;
  background: url(Swallows.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body #headline {
  width: 100%;
  height: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #headline h1 {
  font-size: 100px;
  margin: 0;
  color: white;
  text-shadow: 2px 2px #0000ff, 0 0 9px #20c953;
}

body #labels {
  width: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #labels label {
  font-size: 44px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 6px #ff0000, 0 0 9px #0000ff;
}

body #labels .underD {
  margin: 0% 0% 0% 4%;
}

body #labels .underH {
  margin: 0% 0% 0% 6%;
}

body #labels .underM {
  margin: 0% 0% 0% 3%;
}

body #labels .underS {
  margin-right: 0%;
}

body #timer {
  width: 67%;
  height: 25%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #timer .box {
  width: 22%;
  height: 86%;
  background: rgba(0, 0, 0, 0.329);
  border: white 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #timer .box h1 {
  color: white;
  text-shadow: 0 0 6px #ff0000, 0 0 9px #0000ff;
  font-size: 74px;
  font-weight: bold;
}

body .box .first {
  position: absolute;
  width: 14%;
  height: 21%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .box .second {
  position: absolute;
  width: 12%;
  height: 24%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .box .third {
  position: absolute;
  width: 14%;
  height: 21%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .box .fourth {
  position: absolute;
  width: 12%;
  height: 24%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .box .first2 {
  position: absolute;
  width: 14%;
  height: 21%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .box .second2 {
  position: absolute;
  width: 12%;
  height: 24%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .box .third2 {
  position: absolute;
  width: 14%;
  height: 21%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .box .fourth2 {
  position: absolute;
  width: 12%;
  height: 24%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .box span:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body .box span:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body .box span:nth-child(3) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .box span:nth-child(4) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

body .box span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #20c953;
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  50.1% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}
/*# sourceMappingURL=index.css.map */