body {
  width: 100vw;
  height: 100vh;
  background: url(Swallows.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  #labels {
    width: 71%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    label {
      font-size: 44px;
      font-weight: bold;
      color: white;
      text-shadow: 0 0 6px #ff0000, 0 0 9px #0000ff;
    }
    .underD {
      margin: 0% 0% 0% 4%;
    }
    .underH {
      margin: 0% 0% 0% 6%;
    }
    .underM {
      margin: 0% 0% 0% 3%;
    }
    .underS {
      margin-right: 0%;
    }
  }
  #timer {
    width: 67%;
    height: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    .box {
      width: 22%;
      height: 86%;
      background: rgba(0, 0, 0, 0.329);
      border: white 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        color: white;
        text-shadow: 0 0 6px #ff0000, 0 0 9px #0000ff;
        font-size: 74px;
        font-weight: bold;
      }
    }
  }
  .box .first {
    position: absolute;

    width: 14%;
    height: 21%;
    display: block;
    box-sizing: border-box;
  }
  .box .second {
    position: absolute;

    width: 12%;
    height: 24%;
    display: block;
    box-sizing: border-box;
  }
  .box .third {
    position: absolute;

    width: 14%;
    height: 21%;
    display: block;
    box-sizing: border-box;
  }
  .box .fourth {
    position: absolute;

    width: 12%;
    height: 24%;
    display: block;
    box-sizing: border-box;
  }
  .box .first2 {
    position: absolute;

    width: 14%;
    height: 21%;
    display: block;
    box-sizing: border-box;
  }
  .box .second2 {
    position: absolute;

    width: 12%;
    height: 24%;
    display: block;
    box-sizing: border-box;
  }
  .box .third2 {
    position: absolute;

    width: 14%;
    height: 21%;
    display: block;
    box-sizing: border-box;
  }
  .box .fourth2 {
    position: absolute;

    width: 12%;
    height: 24%;
    display: block;
    box-sizing: border-box;
  }

  .box span:nth-child(1) {
    transform: rotate(0deg);
  }

  .box span:nth-child(2) {
    transform: rotate(90deg);
  }

  .box span:nth-child(3) {
    transform: rotate(180deg);
  }

  .box span:nth-child(4) {
    transform: rotate(270deg);
  }

  .box span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;

    background: #20c953;
    animation: animate 4s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    50% {
      transform: scaleX(1);
      transform-origin: left;
    }
    50.1% {
      transform: scaleX(1);
      transform-origin: right;
    }

    100% {
      transform: scaleX(0);
      transform-origin: right;
    }
  }
}
